
<!-- <div class="message-container" style="background-color: white; font-size:48px;margin-top:150px;">
    <div class="message" *ngFor="let mess of message">
        {{ mess | json}}
    </div>
</div> -->

<div class="main-container">
    <div class="action-container">
        <ng-container *ngFor="let compo of data">
            <div *ngIf="compo.visible" class="component-name" [ngClass]="{'success-border':compo.checked==true, 'danger-border':compo.checked==false }">
                <div class="name">
                    {{ compo.nome }}
                </div>
            </div>
            <div class="action" [ngClass]="{'visible':compo.visible, 'invisible':!compo.visible}">
                <button class="btn btn-sm btn-secondary" (click)="back(compo.id)"><</button>
                <button class="btn btn-sm btn-success" (click)="check(compo.id)">Check</button>
                <button class="btn btn-sm btn-danger" (click)="miss(compo.id)">Missing</button>
                <button class="btn btn-sm btn-secondary" (click)="forward(compo.id)">></button>
            </div>
            <div class="image-container" [ngClass]="{'visible':compo.visible, 'invisible':!compo.visible}">
                <img [src]="compo.image">
            </div>
        </ng-container>
    </div>
</div>




